extends layout

block content
  main.main-container
    h1 #{title}

    h2.navbar-title Enter the secret code so you can become a full member!

    if message
      p.error-message #{message}

    section.form-container
      form(method='POST' action='')
        div.form-group
          label(for='code') Code:
          input(type='text' name='code', required='true', value=(undefined===input ? '' : input))
        button.btn.submit(type='submit') Submit

    
    section.post-form
      a.btn.go-back(href='/') I'll enter the secret code later
