extends layout

block content
  h1 #{title}

  section.form-container
    form(method="POST" action='')
      div.form-group
        label(for='username') Username:
        input(type='text', name='username', required='true')
      div.form-group
        label(for='password') Password:
        input(type='password', name='password', required='true')
      button.btn.submit(type='submit') Submit
  
  if errors
    ul
      each error in errors
        li!= error.message

  section.post-form
    p
      span.post-form-label First time? 
      a.btn.sign-up(href='/sign-up') Sign Up

    p
      a.btn.go-back(href='/') Go Back

  